$screen-breakpoint-small: 800px;
$screen-breakpoint-medium: 1280px;

$page-default-font-color: #fff;
$page-default-font-hover-color: #ccc;

$navbar-background-color: #474b4f;
$navbar-link-hover-text-color: #86c232;
$navbar-link-hover-background-color: #6b6e70;

$main-content-background-color: #222629;

$text-accent-color-green: #86c232;
$text-accent-color-orange: #ffbf00;
$text-accent-color-red: #b60000;

$button-primary-background-color: #86c232;
$button-primary-background-color-active: #72a629;

$link-hover-text-color: #86c232;