@import '../../styles/variables.scss';

.home-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-accent-green {
    color: $text-accent-color-green;
  }

  .text-accent-orange {
    color: $text-accent-color-orange;
  }

  .text-accent-red {
    color: $text-accent-color-red
  }

  .center-banner {
    margin: 6rem 0;
    text-align: center;
    font-size: 3rem;

    .banner-text {
      margin: 0 1rem;
      font-size: 4rem;
    }
  }

  .banner-section {
    margin: 3rem 0.5rem;
    text-align: center;
    font-size: 2rem;
  }

  .summary-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: $screen-breakpoint-small) {
  .center-banner {
    .banner-text {
      display: block;
    }
  }
}