@import '../../styles/variables.scss';

.contact-container {
    flex: 1;
    padding: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .contact-header {
        font-size: 2rem;
    }

    .contact-details {
        flex: 1;

        .contact-entry {
            margin: 1rem 0;
            font-size: 1.5rem;

            a {
                display: flex;
                color: $page-default-font-color;
                text-align: center;
                fill: #fff;

                &:hover {
                    color: $link-hover-text-color;
                    fill: $link-hover-text-color;
                }

                svg {
                    width: 2rem;
                }

                .link-text {
                    margin-left: 1rem;
                }
            }
        }
    }

    .contact-footer {
        font-size: 1.5rem;
    }
    
    .contact-form {
        width: 100%;

        .contact-field {
            width: 100%;
            margin-bottom: 1.5rem;
            
            .contact-field-label {
                display: block;
                margin-bottom: 0.5rem;
            }
            
            .contact-field-input {
                width: 100%;
                padding:1rem;
                font-size: 1rem;
                font-family: inherit;
                
                border: none;
                border-radius: 0.25rem;

                &:disabled {
                    background: $page-default-font-hover-color;
                }
            }

            textarea {
                min-height: 12rem;
                resize: none;
            }
        }

        .submit-button {
            padding: 1rem;
            border: none;
            border-radius: 0.25rem;
            background-color: $button-primary-background-color;
            color: $page-default-font-color;
            font-family: inherit;
            cursor: pointer;

            &:active {
                background: $button-primary-background-color-active;
            }
        }
    }
}

.email-link {
    color: $text-accent-color-orange;

    &:hover, &:active {
        color: $navbar-link-hover-text-color;
    }
}